@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Logout", "Logout", "Account")

@TempData["result"]

@using (Html.BeginForm("Create", "Tubuyaki"))
{
    <textarea rows="2" name="message"></textarea>
    <input type="submit" "post" />
}