@model OAuthSample.Models.TubuyakiResult
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Logout", "Logout", "Account")

<dl>
    <dt>Twitter</dt>
    <dd>@Model.TwitterResult</dd>
    <dt>Facebook</dt>
    <dd>@Model.FacebookResult</dd>
</dl>

@using (Html.BeginForm("Create", "Tubuyaki"))
{
    <textarea cols="50" rows="2" name="message"></textarea>
    <input type="submit" value="post" />
}

@Html.Partial("LoginButtons", Session["user"])