@using OAuthSample.Controllers
@model AccountLoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<p>
    <button>Twitter</button>
    <button>Facebook</button>
    <button>Mixi</button>
</p>