@using OAuthSample.Controllers
@model AccountLoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Session["accessToken"]
@Session["accessSecret"]

<p>
@using (Html.BeginForm("Login")) {
    <input type="submit" name="service" value="Twitter" />
    <input type="submit" name="service" value="Facebook" />
    <input type="submit" name="service" value="mixi" />
}
</p>