@using OAuthSample.Controllers
@model AccountLoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@TempData["message"]

@Session["accessToken"]
@Session["accessSecret"]

<p>
@Html.Partial("LoginButtons", Session["user"] ?? new OAuthSample.Models.User())
</p>